<body class="background">
    <div div fxLayout="column" fxLayoutAlign="space-around center center">
    

        <div fxFlex="50%" fxFlex.gt-sm="25%" fxHide.md >
            <button mat-raised-button (click)="goToHome()">
                <mat-icon>home</mat-icon>
                Back to Rome
            </button>
        </div>

        <br>
        <br>

        <div class="spacer"  fxFlex="50%" fxFlex.gt-sm="25%" fxHide.md >
            <iframe width="560"
                    height="315"
                    src="https://www.youtube.com/embed/IrK3BNlHXic"
                    frameborder="0"
                    allow="accelerometer; 
                            autoplay;
                            clipboard-write;
                            encrypted-media;
                            gyroscope;
                            picture-in-picture"
                    allowfullscreen>
            </iframe>
        
        </div>
    
</div>
    
      
</body>